/* ROOT LAYOUT */
.container,
mat-sidenav-container {
    height: 100vh;
}

/* SIDEBAR */
.sidenav {
    width: 240px;
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    padding-top: 22px;

    border-right: 1px solid rgba(0, 0, 0, 0.06);
}

/* HEADER */
.sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

/* WORKSPACE */
.workspace {
    display: flex;
    align-items: center;
    gap: 12px;
}

.workspace-icon {
    width: 28px;
    height: 28px;

    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 14px;

    background: rgba(0, 0, 0, 0.08);
}

.workspace-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.workspace-name {
    font-size: 14px;
    font-weight: 600;
}

.workspace-subtitle {
    font-size: 11px;
    opacity: 0.6;
}

/* NAV */
.nav-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nav-group-title {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    opacity: 0.5;
    margin: 12px 8px 6px;
}

/* ITEM */
::ng-deep .mat-mdc-list-item {
    border-radius: 10px;
    margin: 2px 0;
}

/* ACTIVE */
.active-link {
    background: rgba(0, 0, 0, 0.08);
}

/* HOVER */
::ng-deep .mat-mdc-list-item:hover {
    background: rgba(0, 0, 0, 0.05);
}

/* CONTENT */
.content {
    padding: 24px 32px;
}

/* TOOLBAR */
.toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
    position: relative;
    display: flex;
    align-items: center;
    top: 10px;
    padding: 0 16px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

/* TITLE */
.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/* SPACER */
.spacer {
    flex: 1;
}

.active-link {
    background: rgba(63, 81, 181, 0.15);
    border-left: 3px solid #3f51b5;

    color: #3f51b5;
    font-weight: 600;
}

/* ICON ACTIVE */
.active-link mat-icon {
    color: #3f51b5;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .content {
        padding: 16px;
    }

    .sidenav {
        width: 220px;
    }
}