<mat-sidenav-container class="container">

    <!-- SIDEBAR -->
    <mat-sidenav #sidenav class="sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">

        <!-- HEADER -->
        <header class="sidenav-header">
            <div class="workspace">
                <div class="workspace-icon">T</div>

                <div class="workspace-info">
                    <strong class="workspace-name">Task App</strong>
                    <small class="workspace-subtitle">Workspace</small>
                </div>
            </div>

            <button mat-icon-button *ngIf="isMobile" (click)="sidenav.close()">
                <mat-icon>menu</mat-icon>
            </button>
        </header>

        <!-- NAV -->
        <nav class="nav-section">

            <span class="nav-group-title">Menu</span>

            <mat-nav-list>

                <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="closeIfMobile()">
                    <mat-icon matListItemIcon>dashboard</mat-icon>
                    <span matListItemTitle>Dashboard</span>
                </a>

                <a mat-list-item routerLink="/tasks" routerLinkActive="active-link" (click)="closeIfMobile()">
                    <mat-icon matListItemIcon>check_circle</mat-icon>
                    <span matListItemTitle>Tasks</span>
                </a>

            </mat-nav-list>

        </nav>

    </mat-sidenav>

    <!-- CONTENT -->
    <mat-sidenav-content>

        <!-- TOPBAR -->
        <mat-toolbar class="toolbar">

            <button mat-icon-button *ngIf="isMobile" (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <h1 class="title">Task Dashboard</h1>

            <span class="spacer"></span>

            <button mat-icon-button (click)="toggleTheme()">
                <mat-icon>
                    {{ theme.getTheme() ? 'light_mode' : 'dark_mode' }}
                </mat-icon>
            </button>

        </mat-toolbar>

        <!-- MAIN -->
        <main class="content">
            <router-outlet></router-outlet>
        </main>

    </mat-sidenav-content>

</mat-sidenav-container>