
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

/* DARK MODE */
body.dark-theme {
  color-scheme: dark;
}

// Troca suave entre temas

*,
*::before,
*::after {
  transition: background-color 250ms ease,
  color 250ms ease,
  border-color 250ms ease,
  box-shadow 250ms ease;
  transition: all 0.5s;
}