<h2>Dashboard</h2>
<p>Visão geral das tarefas</p>

<h3>Progresso</h3>

    <div class="progress-container">
        <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    </div>

<p>{{ progress }}% concluído</p>

<h3>Próximas tarefas</h3>

<div class="top-tasks-container" *ngIf="top3pending.length; else empty">
    <div class="task-card" *ngFor="let task of top3pending; let i = index">
        <div class="task-rank">{{ i + 1 }}ª</div>

        <div class="task-content">
            <p class="task-title">{{ task.title }}</p>
            <span class="task-status">Pendente</span>
        </div>
    </div>
</div>

<ng-template #empty>
    <p>Nenhuma tarefa pendente 🎉</p>
</ng-template>